# Import & export data from certain file path

### Description

- Use to import a *single* file from a certain file path
- Import, clean data in template, export
- Useful if there is variability between templates- can't run through entire folder at once
- Useful for file in subfolder in current working directory (cwd), file in directory one above cwd, or file in subdirectory one above cwd

## Import libraries

In [1]:
import os
import pandas as pd

## Import data

In [2]:
# If directory with raw data file is in subfolder in cwd

df1 = pd.read_csv('sub_folder_raw/sub_file_raw.csv')

# If directory with raw data file is one level above cwd

file_path2 = os.path.join('..', 'parent_file_raw.csv')
df2 = pd.read_csv(file_path2)

# If directory with raw data is in directory one above cwd

file_path3 = os.path.join('..', 'sister_folder_raw', 'sister_file_raw.csv')
df3 = pd.read_csv(file_path3)

In [3]:
df1

  letter  number   color
0      a       1     red
1      b       2  orange
2      c       3  yellow
3      d       4   green
4      e       5    blue
5      f       6  purple

In [4]:
df2

  letter  number    color
0      g       7   maroon
1      h       8    ochre
2      i       9    lemon
3      j      10  emerald
4      k      11     cyan
5      l      12   indigo

In [5]:
df3

  letter  number      color
0      m      13       ruby
1      n      14      coral
2      o      15  dandelion
3      p      16      kelly
4      q      17      azure
5      r      18     violet

## *Clean template for export here*

## Export data

In [6]:
# If saving to subdirectory in cwd

df1.to_csv(os.path.join('sub_folder_clean', 'sub_file_clean.csv'), encoding = 'utf-8', index = False, header = True)

# If saving to directory one above cwd

df2.to_csv(os.path.join('..', 'parent_file_clean.csv'), encoding = 'utf-8', index = False, header = True)

# If saving to subdirectory one above cwd

df3.to_csv(os.path.join('..', 'sister_folder_clean', 'sister_file_clean.csv'), encoding = 'utf-8', index = False, header = True)